<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Juicifers kitchen</title>
  <link rel="stylesheet" href="css/juicifer.css">
  <script src="/vue/vue.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="js/juicifer-main.js" defer></script>
  <script src="js/kitchen.js" defer></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>


    
<body onload="setTime()">

    
  <div id="main">
      
    <div id="orders-wrapper" v-on:click="showCurrentOrders()" v-bind:class="{ active: currentOrdersShown }">
    
      <h1 v-if="currentOrdersShown===false" id="verticalOrders">  
        {{ uiLabels.ordersInQueue }}
    <!--<h2>{{ uiLabels.smoothie }}</h2>-->
        </h1>
        
    <div v-if="currentOrdersShown"> 
        
        <p class="orderNumber">Order nr</p>
         <div id="time"></div>
        
        <h1 id="headlineOrders"> {{ uiLabels.ordersInQueue }}</h1>
    
            
            <div id="time"></div> 
      <order-item-to-prepare
        ref="orderItem"
        v-for="(order, key) in orders"
        v-if="!order.done && !order.cancel"
        v-on:done="markDone(key)"
        v-on:cancel="sendCancel(key)"
        :order-id="key"
        :order="order" 
        :ui-labels="uiLabels"
        :lang="lang"
        :key="key"
        id="orderDiv"
                             >
      </order-item-to-prepare>

            
            </div>
      
        
    </div>
    
<!--History -->

    <div id="history-wrapper" v-on:click="showHistory()" v-bind:class="{ active: historyShown }">
        
        <h1 v-if="historyShown===false" id=verticalHistory>{{ uiLabels.ordersFinished }}</h1>
    
        <div v-if="historyShown">
            
             <p class="orderNumber">Order nr</p>
            
            <div id="time"></div> 
            
            <h1 id="headlineHistory">{{ uiLabels.ordersFinished }}</h1>
   
            <order-item-to-prepare
                ref="orderItem"
                v-for="(order, key) in orders"
                v-if="order.done"
                :order-id="key"
                :order="order" 
                :ui-labels="uiLabels"
                :lang="lang"
                :key="key"
                id="orderDiv"
                             >
            </order-item-to-prepare>
            
        </div>
    </div>


<!--Stock-->
      
      <div id="stock-wrapper" v-on:click="showStock(); showPieChart();" v-bind:class="{ active: stockShown }">
          
        <h1 v-if="stockShown===false" id=verticalStock>{{ uiLabels.stock }}</h1>
          
          <div v-show="stockShown">
              
            <div id="time"></div> 
              
                <h1 id="headlineStock">{{ uiLabels.stock }}</h1>
              
                <div id="stockIngredients">
                    <h2>{{uiLabels.ingredients}}</h2>
                  
                  
                    <div v-for ="item in ingredients">
                        {{item["ingredient_"+ lang]}}
                    </div>
                    
                </div>
              
              
              <div id="stockQuantity">
                  <h2>{{ uiLabels.stockQuantity }}</h2>
                  
                    <div v-for = "item in ingredients">
                        {{ item.vol_smoothie + item.vol_juice }}
                    </div>
                  
              </div>
              
             <div id="piechart"></div>
          
        </div>      
    </div>
      
      
    <div> 
        <button v-on:click="switchLang()"  class="langButton">{{ uiLabels.language }}</button>
           
    </div>
 
</div>
    
</body>
</html>