<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Juicifers kitchen</title>
  <link rel="stylesheet" href="css/juicifer.css">
  <script src="/vue/vue.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="js/juicifer-main.js" defer></script>
  <script src="js/kitchen.js" defer></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>


    
<body onload="setTime()">

    
  <div id="main">
      
    <div id="orders-wrapper" v-on:click="showCurrentOrders()" v-bind:class="{ active: currentOrdersShown }">
    
      <h1 v-if="currentOrdersShown===false" id="verticalOrders">  
        {{ uiLabels.ordersInQueue }}
    <!--<h2>{{ uiLabels.smoothie }}</h2>-->
        </h1>
        
    <div v-if="currentOrdersShown"> 
        
        <p id="orderNumber">Order nr</p>
         <div id="time"></div>
        
        <h1 id="headlineOrders"> {{ uiLabels.ordersInQueue }}</h1>
    
            
            <div id="time"></div> 
      <order-item-to-prepare
        ref="orderItem"
        v-for="(order, key) in orders"
        v-if="!order.done && !order.cancel"
        v-on:done="markDone(key)"
        v-on:cancel="sendCancel(key)"
        :order-id="key"
        :order="order" 
        :ui-labels="uiLabels"
        :lang="lang"
        :key="key"
        id="orderDiv"
                             >
      </order-item-to-prepare>

            
            </div>
      
        
    </div>
    
<!--History -->

    <div id="history-wrapper" v-on:click="showHistory()" v-bind:class="{ active: historyShown }">
        <!-- <input v-on:keyup.right="showHistory()"> -->
        
    <h1 v-if="historyShown===false" id=verticalHistory>{{ uiLabels.ordersFinished }}</h1>
    
        <div v-if="historyShown">
            <div id="time"></div> 
            
            <h1 id="headlineHistory">{{ uiLabels.ordersFinished }}</h1>
   
            <order-item-to-prepare
        ref="orderItem"
        v-for="(order, key) in orders"
        v-if="order.done"
        :order-id="key"
        :order="order" 
        :ui-labels="uiLabels"
        :lang="lang"
        :key="key"
        id="orderDiv"
                             >
      </order-item-to-prepare>
            
        </div>
    </div>


<!--Stock-->
      
      <div id="stock-wrapper" v-on:click="showStock(); showPieChart();" v-bind:class="{ active: stockShown }">
          
    <h1 v-if="stockShown===false" id=verticalStock>{{ uiLabels.stock }}</h1>
          
          <div v-if="stockShown">
              
            <div id="time"></div> 
              
            <h1 id="headlineStock">{{ uiLabels.stock }}</h1>
              
              <div id="stockIngredients">
                  <h2>{{uiLabels.ingredients}}</h2>
              <div v-for ="item in ingredients">
                    {{item.ingredient_en}}
              </div>
              </div>
              
              
              <div id="stockQuantity">
                  <h2>{{uiLabels.stockQuantity}}</h2>
              <div v-for = "item in ingredients">
              {{item.vol_smoothie}}
                  <!-- lägg till {{item.vol_juice}}-->
                  </div>
              </div>
              
              
              <!--Funkar ej när den ligger här men funkar i main -->
             <div id="piechart"></div>
              
<!--
    <div id="smoothieCircle"></div>
              
    <div id="stockitems">
      <details>
        <summary>Base</summary>
        <ingredient
          ref="stockItem"
          type="smoothie"
          v-for="item in ingredients"
          v-if="item.vol_smoothie > 0 && item.ingredient_type == 1"
          v-on:increment="addIngredient(item, 'smoothie')"
          v-on:decrement="removeIngredient(item, 'smoothie')"
          :item="item"
          :lang="lang"
          :key="item.ingredient_id">
        </ingredient>
      </details>
        
      <details>
        <summary>Fruits & Greens</summary>
        <ingredient
          ref="stockItem"
          type="smoothie"
          v-for="item in ingredients"
          v-if="item.vol_smoothie > 0 && item.ingredient_type == 2"
        v-on:increment="addIngredient(item, 'smoothie')"
          v-on:decrement="removeIngredient(item, 'smoothie')"
          :item="item"
          :lang="lang"
          :key="item.ingredient_id">
        </ingredient>
      </details>
      <details>
        <summary>Extras</summary>
        <ingredient
          ref="stockItem"
          type="smoothie"
          v-for="item in ingredients"
          v-if="item.vol_smoothie > 0 && item.ingredient_type == 3"
             v-on:increment="addIngredient(item, 'smoothie')"
          v-on:decrement="removeIngredient(item, 'smoothie')"
          :item="item"
          :lang="lang"
          :key="item.ingredient_id">
        </ingredient>
      </details>

        
    </div>
    -->
              
    </div>
      
          
    </div>
      

      
      
       <div id="langButton"> 
          <button v-on:click="switchLang()">{{ uiLabels.language }}</button>
        </div>
      

<!-- Stock -->
    
 <!--   <h1>{{ uiLabels.stock }}</h1>
    <div>
      <order-item-to-prepare
        v-for="(order, key) in orders"
        v-if="!order.done && order.type == 'smoothie'"
        v-on:done="markDone(key)"
        :order-id="key"
        :order="order" 
        :ui-labels="uiLabels"
        :lang="lang"
        :key="key">
      </order-item-to-prepare>
    </div>-->
    
      </div>
    
</body>
</html>